.footer {
  color: rgb(169, 169, 169);
  text-shadow: none;
  font-family: monospace;
  margin-top: 40px;
}

.coder {
  text-decoration: none;
  color: rgb(169, 169, 169);
  transition: all 200ms ease-in-out;
}

.coder:hover {
  color: rgb(118, 118, 118);
  text-decoration: underline;
}
