.Weather {
  color: white;
}

.one-day-temp-container {
  position: relative;
  max-width: 60%;
  top: 0;
  border: none;
  margin: 0px auto 10px;
  border-radius: 15px;
  padding: 0px 0px 50px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-image: url("./media/cloud.jpg");
  background-size: cover;
}

.Weather .city {
  font-family: "roboto";
  font-weight: 600;
  font-size: 45px;
  margin: 0;
  padding-top: 10px;
  text-transform: capitalize;
}

.Weather .principal-data {
  font-size: 13px;
  font-family: "roboto";
  line-height: 0.5px;
  margin-bottom: 30px;
}

.Weather .main-temp {
  font-size: 60px;
  text-align: center;
  position: relative;
  left: 10px;
  margin-top: 10px;
}

.Weather .unit-button {
  transition: all 200ms ease-in-out;
  text-decoration: underline #ccc;
}

.Weather .unit-button:hover {
  color: #ccc;
  cursor: pointer;
}

.Weather .icon-temp {
  font-size: 80px;
  text-align: center;
}

.Weather .condition {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 25px;
  text-transform: capitalize;
}

.Weather .wind {
  margin: 0;
  line-height: 0px;
  position: relative;
  font-size: 20px;
  padding-top: 20px;
}

.Weather .precipitation {
  line-height: 0px;
  position: relative;
  right: 9px;
  font-size: 20px;
  padding-top: 20px;
  margin-bottom: 0;
}

.Weather .percentage {
  font-size: 9px;
  position: relative;
  bottom: 10px;
  right: 5px;
}

.Search .favorites {
  list-style: none;
  display: flex;
  margin-top: 15px;
  color: rgb(181, 181, 181);
  font-weight: bold;
  padding: 0;
  justify-content: center;
  font-size: 13px;
  text-shadow: none;
}

.Search .favorites.active {
  display: block;
  top: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.Search li {
  display: inline;
  padding-right: 20px;
}

li[class^="city-"],
.edit {
  transition: all 200ms ease-in-out;
}

li[class^="city-"]:hover,
.edit:hover {
  color: rgb(118, 118, 118);
  cursor: pointer;
  text-decoration: underline;
}

.Search .search-container {
  position: relative;
  margin: 20px auto 0px;
  padding: 0px 0px 10px;
  text-align: center;
  width: fit-content;
}

.search-city {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px 0px 0px 5px;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 0px 0px 0px 6px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"]:focus {
  outline: transparent;
}

.search-button {
  border: 1px solid #ccc;
  border-radius: 0px 5px 5px 0px;
  background-color: rgb(172, 170, 170);
  position: relative;
  right: 10px;
  color: white;
  transition: all 200ms ease-in-out;
}

.search-button:hover {
  background-color: rgb(118, 118, 118);
  cursor: pointer;
}

.location-button {
  border: none;
  background-color: transparent;
  color: rgb(172, 170, 170);
  position: relative;
  left: -10px;
}

.location-button:hover {
  color: rgb(118, 118, 118);
  cursor: pointer;
}

.plus-icon {
  border: none;
  background-color: transparent;
  color: rgb(172, 170, 170);
  position: relative;
  left: -15px;
  transition: all 200ms ease-in-out;
}

.plus-icon:hover {
  color: rgb(118, 118, 118);
  cursor: pointer;
}
